@import "./variables.less";
@import "./mixins.less";


//Malstyoor regular
@font-face {
    font-family: Malstyoor;
    src: url("fonts/Malstyoor.otf");
}

//Heebo Black
@font-face {
    font-family: HeeboBlack;
    src: url("fonts/Heebo-Black.ttf");
}

header {
    background-color: @accent-tan;
    font-family: HeeboBlack;
    .navDiv {
        .navDivStyle();
    }
}

.btn {
    color: @light-gray;
    background-color: @accent-blue;
}

footer {
    background-color: @secondary-teal;
    font-family: HeeboBlack;
    .socialDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            margin: 15%;
        }
    }
    .navDiv {
        .navDivStyle();
    }
}



.breakfast {
    background-color: @secondary-teal;
    max-width: 80%;
    padding: 80px;
    margin: auto;
    border-radius: 10px;
    color: @accent-blue;
    font-family: HeeboBlack;
}

.lunch {
    background-color: @primary-yellow;
    max-width: 80%;
    padding: 80px;
    margin: auto;
    border-radius: 10px;
    color: @accent-blue;
    font-family: HeeboBlack;
    margin-bottom: 80px;
}

.title {
    text-align: center;
    font-size: 50px;
    padding: 80px 0 0 0;
    font-family: HeeboBlack;
    color: @accent-blue;
}

.headline {
    font-family: HeeboBlack;
}

.time {
    text-align: center;
    font-family: HeeboBlack;
}

.top {
    text-align: center;
    font-size: 100px;
    padding: 80px 80px 0 80px;
    font-family: Malstyoor;
    color: @secondary-orange;
}

.divider {
    margin: 0 375px 0 375px;
}
